/* Estilos base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF; /* Cambia el color de fondo si es necesario */
}

header {
  background-color: orange; /* Color base */
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700; /* Color de texto al pasar el mouse */
}

main {
  padding: 20px;
}

.category {
  margin-bottom: 30px;
}

h2 {
  color: orange; /* Color destacado */
}

.tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tour {
  width: 30%; /* Ajustar el ancho para tres en línea */
  margin-bottom: 15px;
  border: 1px solid #CCC;
  border-radius: 5px;
  overflow: hidden;
}

.tour img {
  width: 100%;
  height: auto;
}

.tour p {
  padding: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: orange; /* Color base */
  color: white;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .tour {
    width: 100%; /* En dispositivos más pequeños, ocupar todo el ancho */
  }
}
